# =====================
# ENV FILES (SECRETS)
# =====================
.env
.env.*
*.env
!api/.env.example
!frontend/.env.example
application-local.properties
backend/src/main/resources/application-local.properties


# =====================
# FRONTEND (React)
# =====================
node_modules/
dist/

# =====================
# API / BACKEND
# =====================
target/
*.log
api/data/

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db
